/* BACKGROUND \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* ******************************************************************** */

/* BackGround XS0 ***************************************************** */
__BG_XS0 {
  background-color: var(--mx-xs0) !important;
}

/* BackGround YS0 ***************************************************** */
__BG_YS0 {
  background-color: var(--mx-ys0) !important;
}

/* BackGround NONE **************************************************** */
__BG_NONE {
  background: none !important;
}

/* BackGround NONE **************************************************** */
__BG_NONE {
  background: none !important;
}

/* BackGround NONE **************************************************** */
__BG_NONE {
  background: none !important;
}
/* BACKGROUND ///////////////////////////////////////////////////////// */
